      <div id="header">
        <nav>
          <li class="fork"><a href="https://github.com/konohitowa/philoppi">View Companion Code on GitHub</a></li>
          <li class="downloads"><a href="/">Home</a></li>
          <li class="title"><a href="/about.html">About</a></li>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">
      <section>
        <div id="title">
          <h2>{{ site.title }}</h2>
          <p></p>
          <hr>
          <span class="credits left">Project maintained by <a href="https://github.com/konohitowa">konohitowa</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>
        </div>
